<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head.ejs") %>
  <title>Add New Blog</title>
</head>

<body>
  <%- include("./partials/nav.ejs") %>
  <div class="container mt-3">
    <form action="/blog" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="coverImage" class="form-label">Cover Image</label>
        <input type="file" class="form-control" id="coverImage" name="coverImage">
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" aria-describedby="title" name="title">
      </div>
      <div class="mb-3">
        <label class="form-label" for="body">Comments</label>
        <textarea class="form-control" placeholder="" name="body" id="body" style="height: 100px"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <%- include("./partials/scripts.ejs") %>
</body>

</html>